.place__like {
    width: 21px;
    height: 19px;
    border: none;
    
    margin-right: 8px;
    background: url(../../../images/like.svg) center;
}

.place__like:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.6s;
}

.place__like:focus { 
    outline: none; 
}