.popup_opened {
    display: flex;
    transition: visibility 0.7s, opacity 0.7s ease;
    opacity: 1; 
    visibility: visible; 
    -moz-transition: visibility 0s, opacity 0.7s ease;
    -webkit-transition: visibility 0s, opacity 0.7s ease;
    -o-transition: visibility 0s, opacity 0.7s ease;
    -ms-transition: visibility 0s, opacity 0.7s ease;
}