@import url(_name/popup__input_name.css);
@import url(_job/popup__input_job.css);
@import url(_title/popup__input_title.css);
@import url(_url/popup__input_url.css);
@import url(_error/popup__input_error.css);


.popup__input {
    max-width: 358px;
    width: 90%;
    height: 27.26px;
    margin: 0 auto;
    margin-left: 36px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
    outline: none;
}