.popup__container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 430px;
    width: 70%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}