@import url(__avatar/profile__avatar.css);
@import url(__info/profile__info.css);
@import url(__name/profile__name.css);
@import url(__job/profile__job.css);
@import url(__title/profile__title.css);
@import url(__button/profile__button.css);
@import url(__add/profile__add.css);
@import url(__edit/profile__edit.css);

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 882px;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

@media(max-width: 750px) {
    .profile {
        flex-direction: column;
    }
}