@import url(_add-window/popup__close_add-window.css);
@import url(_edit-window/popup__close_edit-window.css);

.popup__close {
    position: absolute;
    background: url(../../../images/CloseIcon.svg) center; 
    border: none;
    width: 40px;
    height: 40px;
    right: -40px;
    top: -40px;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.6s;
}

.popup__close:focus { 
    outline: none; 
}

@media(max-width: 425px){
    .popup__close{
        right: -30px;
    }
}