.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 0;
}

@media(max-width: 500px){
    .profile__name {
        font-weight: 500;
        font-size: 27px;
        line-height: 56px;
    }
}