@import url(__photo/element__photo.css);
@import url(__description/element__description.css);
@import url(__photo-name/element__photo-name.css);
@import url(__like/element__like.css);

.element {
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
}